body {
    background-color: #212125;
    padding-top: 5rem;
}
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header-color{
  background-color: #a3de83;
}

.custom-color{

  background-color: #239d60;

}
/* .show{
  background-color: #212125;
} */

.custom-text{
  color: #f7f39a;
}

a{
  color: #212125;
}

.no-underline{
  text-decoration: none !important
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
