body {
    background-color: #aaf8f8;
    padding-top: 5rem;
}
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-color{

  background-color: #6078ea;

}

.custom-text{
  color: azure;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
